*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}ul{
    list-style: none;
}a{
    text-decoration: none;
}.header{
    background: #BB2339;
}.container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
}.all-btn{
    max-width: 200px;
    padding: 10px 40px;
    width: 100%;
    border-radius: 100px;
    border: 1px solid white;
}.nav__container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}.nav__list{
    display: flex;
    align-items: center;
    column-gap: 40px;
}.nav__link{
    color: #fff;
}
/*HEADER*/
.header__content{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 100px 0;
}.header__desc{
    justify-content: center;
    display: flex;
    flex-direction: column;
}.header__title{
    color: #FFF;
    font-size: 23px;
    font-weight: 700;
    line-height: 130%; 
    letter-spacing: 0.92px;
    text-transform: capitalize;
}.header__headline{
    width: 500px;
    color: #FFF;
    font-size: 90px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 3.6px;
    text-transform: capitalize;
    padding: 25px 0 20px 0;
}.header__text{
    width: 400px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%; 
    letter-spacing: 0.64px;
    padding:  0 0 40px 0;
}.header__link{
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 175%;
    letter-spacing: 0.64px;
}.header__img{
    transform: translatex(80px) translateY(20px);
}
/*MAIN*/
body{
    background: #F8F8F8;
}.food{
    padding: 0 0 120px 0;
}.food__desc{
    padding: 120px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}.food__chev{
    display: flex;
    column-gap: 20px;
    color: #646464;
    transition: .5;
}.food__chev:hover{
    color: #BB2339;
}.food__title{
    color: #BB2339;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 1.44px;
    text-transform: capitalize;
}.food__cards{
    display: flex;
    margin: auto;
    column-gap: 20px;
}.food__card{
    background: #fff;
    padding: 20px 20px 40px 20px;
    border-radius: 14px;
}.food__card-title{
    width: 250px;
    color: #242424;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}.food__card-mark{
    padding:0 0 0 70px;
}.food__card-num{
    color: #BB2339;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
/*MENU*/
.menu{
    padding: 120px 0;
}.menu{
    width: 100%;
    background: #fff;
}.menu__title{
    color: #BB2339;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 1.44px;
    text-transform: capitalize;
}.menu__list{
    display: flex;
    column-gap: 10px;
    padding: 60px 0 50px 0;
}.menu__link{
    color: #242424;
    font-size: 16px;
    font-weight: 600;
    line-height: 175%;
    letter-spacing: 0.8px;
    padding: 8px 34px;
    text-transform: capitalize;
    border: 1px solid red;
}.menu__cards{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    row-gap: 30px;
    column-gap: 15px;
}.menu__card{
    background: #fff;
    padding: 20px 20px 40px 20px;
    border-radius: 14px;
    border: 1px solid rgba(36, 36, 36, 0.10)
}.menu__card-title{
    width: 250px;
    color: #242424;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}.menu__card-mark{
    padding:0 0 0 70px;
}.menu__card-num{
    color: #BB2339;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}